<div id="about" class="page-container content-center about">
    <div class="accordion-container">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header class="accordion-panel">
                    <mat-panel-title>
                        Personal Background
                    </mat-panel-title>
                    <mat-panel-description>
                        Educational, Honors & Awards, Academic Achievements
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="content-block">
                    <p class="bold content-header">Educational Background</p>
                    <div class="content-item">
                        <p class="bold">TERTIARY</p>
                        <p class="bold">Bachelor of Science in Information Technology</p>
                        <p>Arellano University - Pasig</p>
                        <p>June 2009 – April 2013</p>
                    </div>
                    <div class="content-item">
                        <p class="bold">SECONDARY</p>
                        <p class="bold">Cainta Catholic College</p>
                        <p>June 2005 – March 2009</p>
                    </div>
                    <div class="content-item">
                        <p class="bold">PRIMARY</p>
                        <p class="bold">Cainta Catholic College</p>
                        <p>June 1999 – March 2005</p>
                    </div>
                </div>
                <div class="content-block">
                    <p class="bold content-header">Honors & Awards</p>
                    <ul class="custom-ul">
                        <li>Most Aspiring Developer of 2015 Awardee</li>
                        <li>Academic Excellence Awardee in the School of Information Technology, S.Y. 2011 - 2012 <span class="bold">Third Honors</span></li>
                    </ul>
                </div>
                <div class="content-block">
                    <p class="bold content-header">Academic Achievements</p>
                    <ul class="custom-ul">
                        <li><span class="bold">Best Thesis (Online Accounting and Inventory System)</span> – S.Y. 2012-2013</li>
                        <li><span class="bold">Best Documentation </span> – S.Y. 2012-2013</li>
                    </ul>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false" 
                                 [expanded]="true" 
                                 hideToggle>
                <mat-expansion-panel-header class="accordion-panel">
                    <mat-panel-title>
                        Professional Background
                    </mat-panel-title>
                    <mat-panel-description>
                        Current Employer, Experiences
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="content-block">
                    <p class="bold content-header">Manulife IT Delivery Center</p>
                    <div class="content-item">
                        <p class="bold">Sr. Full-Stack Engineer</p>
                        <p>November 2018 to <span class="bold">present</span></p>
                        <p>I am one of the instructors in our <span class="bold">“MANULIFE UNIVERSITY”</span> that coaches other aspiring developers to become a full-stack engineer for their career growth. We're able to finish an application from scratch to production release with minimal number of production incidents. We also turned it over to our regional counterpart with proper training and support they need before they were able to do it themselves.</p>
                        <p><span class="bold">Responsibilities,</span> create the templates of the application we are developing from scratch. Built and application using Angular 9 for front-end and SpringBoot for backend. Support the production environment using New Relic and Devo for logging and we deploy our environments using Jenkins. We also ensure that our application should have the highest quality possible by passing our quality gates such as SonarQube for unit testing with 85% code coverage, Fortify for the application Security and SNYK to check if there are deprecated libraries used in the application. We are also responsible for the documentations of the APIs we used in every applications we are developing.</p>
                        <p><span class="bold">Technologies,</span> Angular 9, Java, SpringBoot, Microservice, Jenkins, New Relic, Devo, Concourse, HTML 5, CSS 3, material UI, Typescript</p>
                    </div>
                </div>
                <div class="content-block">
                    <p class="bold content-header">Yondu</p>
                    <div class="content-item">
                        <p class="bold">Sr. Front-end Engineer</p>
                        <p>May 2018 to November 2018</p>
                        <p>Part of Front-End development team and was deployed to another top-notched IT solutions company to build an application for an insurance company to innovate their process and make things automated for their clients.</p>
                        <p><span class="bold">Responsibilities,</span> create the templates of the application we are developing from scratch. Built and application using Angular 9 for front-end and SpringBoot for backend. </p>
                        <p><span class="bold">Technologies,</span> Angular 9, Java, SpringBoot, Microservice, Jenkins, New Relic, Devo, Concourse, HTML 5, CSS 3, material UI, Typescript</p>
                    </div>
                </div>
                <div class="content-block">
                    <p class="bold content-header">OUTSOURCED QUALITY ASSURED SERVICES</p>
                    <div class="content-item">
                        <p class="bold">Web Developer</p>
                        <p>July 2016 to May 2018</p>
                        <p>Part of Front-End development team and handles all the views needed for the web application we 	are creating.</p>
                        <p><span class="bold">Responsibilities,</span> create the templates of the social media we are developing from scratch.</p>
                        <p><span class="bold">Technologies,</span> Angular 2, HTML 5, CSS 3, material UI, bootstrap, media query, jQuery, Javascript, Typescript, PHP, MySQL</p>
                    </div>
                </div>
                <div class="content-block">
                    <p class="bold content-header">ESTANSAAS SOFTWARE DEVELOPMENT INC.</p>
                    <div class="content-item">
                        <p class="bold">Mid Software Developer</p>
                        <p>June 2015 to July 2016</p>
                        <p>Part of Software Development team and received an award of "Most Aspiring Developer of 2015" and became part of the soft launching of an "ultimate FINTECH Application".</p>
                        <p><span class="bold">Responsibilities,</span> creating the template of the “ultimate FINTECH Application” and to build corporate websites from scratch.</p>
                        <p><span class="bold">Technologies,</span> Laravel 4 & 5, Wordpress, HTML 5, CSS 3, material UI, bootstrap, media query, jQuery, Javascript, PHP, MySQL</p>
                    </div>
                </div>
                <div class="content-block">
                    <p class="bold content-header">ACP COMPUTER</p>
                    <div class="content-item">
                        <p class="bold">Web Developer</p>
                        <p>June 2013 to June 2015</p>
                        <p>Part of Web Development Team of ACP Philippines and already signed-off more than 20 websites.</p>
                        <p><span class="bold">Responsibilities,</span> develop and ensure the quality of the school websites we are creating and provide debugging services to those existing projects.</p>
                        <p><span class="bold">Technologies,</span> Joomla, Wordpress, HTML 5, CSS 3, SASS, material UI, bootstrap, media query, jQuery, Javascript, PHP, MySQL</p>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>