<div id="contact" class="page-container contact">
    <div class="contact-content">
        <div class="contact-wrapper">
            <h1 class="contact-h1">You can reach me via...</h1>
            <p class="contact-p"><span class="contact-label">Email: </span><span class="contact-detail">adrianwebdev@yahoo.com</span></p>
            <p class="contact-p"><span class="contact-label">Mobile: </span><span class="contact-detail">+639974910009</span></p>
            <p class="contact-p"><span class="contact-label">Facebook: </span><span class="contact-detail">https://www.facebook.com/adriansicat32/</span></p>
            <p class="contact-p"><span class="contact-label">LinkedIn: </span><span class="contact-detail">https://www.linkedin.com/in/adrian-sicat/</span></p>
        </div>
    </div>
</div>