.contact {
    background-image: url("../../../assets/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contact-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 350px;
    width: 650px;
    padding: 30px;
    box-sizing: border-box;
    background: rgba(255 255 255 / 70%);
    border: 1px solid #9d9797;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-typography .contact-h1 {
    font-family: 'acherus';
    font-size: 30px;
    margin-bottom: 30px;
}

.mat-typography .contact-p {
    font-size: 18px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1080px) {
    .contact-content { 
        width: 90%;
    }
}