.navigation-container {
    align-items: center;
    background: #ffffff;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    box-shadow: 0 0 5px #c0c0c0;
    bottom: 0;
    display: flex;
    height: 50px;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    &.sticky {
        bottom: auto;
        position: fixed;
        top: 0;
    }
}

.navigation-wrapper {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
}

.navigation-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: acherus;
    font-size: 18px;
    height: 100%;
    justify-content: center;
    min-width: 150px;
    position: relative;
    transition: ease-in .1s;
    &::after {
        background: #c0c0c0c0;
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
    }
    &:last-child {
        &::after {
            display: none;
        }
    }
    &:hover {
        background: #545454;
        color: #ffffff;
    }
}

/**********
MOBILE NAV
***********/
.navigation-container-mobile {
    align-items: center;
    background: #444141;
    box-sizing: border-box;
    display: none;
    height: 80px;
    justify-content: flex-end;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.slide-menu-container {
    background: #ffffff;
    height: 100%;
    position: fixed;
    top: 0;
    transition: all 0.3s ease;
    right: -300px;
    width: 300px;
    &.open {
        right: 0;
    }
}

.navigation-item-mobile {
    align-items: center;
    border-bottom: 1px solid #c3baba;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-family: 'acherus';
    font-size: 24px;
    height: 50px;
    padding: 15px;
    transition: all 0.3s ease;
    &:hover {
        background: #626262;
        color: #ffffff;
    }
}

.slide-menu-wrapper {
    padding-top: 100px;
}

.burger-menu {
    display: none;
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 9999;
    span {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: #ffffff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
        &:nth-child(2) {
            top: 18px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
        &:nth-child(3) {
            top: 36px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
          }
      }
      &.open {
        span {
            &:nth-child(1) {
                background-color: #626262;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                top: -3px;
                left: 8px;
            }
            &:nth-child(2) {
                width: 0%;
                opacity: 0;
            }
            &:nth-child(3) {
                background-color: #626262;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                top: 39px;
                left: 8px;
            }
        }
      }
  }
  
  @media only screen and (max-width: 1080px) {
    .burger-menu {
        display: block;
    }
    .navigation-container-mobile {
        display: flex;
    }
    .navigation-container {
        display: none;
    }
  }
