<div (scroll)="onWindowScroll()" [ngClass]="{'sticky': turnSticky}" class="navigation-container">
    <div class="navigation-wrapper">
        <div (click)="goTo('home')" class="navigation-item">Home</div>
        <div (click)="goTo('about')" class="navigation-item">About Me</div>
        <div (click)="goTo('skills')" class="navigation-item">Skills</div>
        <div (click)="goTo('projects')" class="navigation-item">Projects</div>
        <div (click)="goTo('contact')" class="navigation-item">Contact Me</div>
    </div>
</div>
<div class="navigation-container-mobile">
    <div class="navigation-container-mobile-wrapper">
        <div class="burger-menu" (click)="openMenu()" [ngClass]="{'open' : isOpen}">
            <span></span>
            <span></span>
            <span></span>
          </div>
        <div class="slide-menu-container close" [ngClass]="{'open' : isOpen}">
            <div class="slide-menu-wrapper">
                <div (click)="goTo('home')" class="navigation-item-mobile">Home</div>
                <div (click)="goTo('about')" class="navigation-item-mobile">About Me</div>
                <div (click)="goTo('skills')" class="navigation-item-mobile">Skills</div>
                <div (click)="goTo('projects')" class="navigation-item-mobile">Projects</div>
                <div (click)="goTo('contact')" class="navigation-item-mobile">Contact Me</div>
            </div>
        </div>
    </div>
</div>
