.skills {
    background-image: url("../../../assets/skills_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.skill-container {
    background: rgb(230,230,230);
    background: radial-gradient(circle, rgba(230,230,230,1) 20%, rgba(255,255,255,1) 80%);
    border: 5px solid #969696;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #c0c0c0;
    box-sizing: border-box;
    min-height: 70vh;
    padding: 10px;
    position: relative;
    width: 80%;
    h1 {
        &.headers {
            color: #3a3a3a;
            font-family: 'marker';
            font-size: 45px;
            line-height: initial;
            margin-top: 20px;
            text-align: center;
        }
    }
}

.skill-note {
    * {
        color: #3a3a3a;
        font-family: 'marker';
    }
    ul {
        padding: 0;
    }
    h1 {
        font-size: 26px;
        margin-bottom: 25px;
    }
    li {
        font-size: 18px;
        list-style: none;
        margin-bottom: 15px;
        &:empty {
            margin-bottom: 0 !important;
        }
    }
}

.skill-board {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.highlight-container, .highlight {
    position: relative;
  }
  
.highlight-container {
    display: inline-block;
    &:before {
        content: " ";
        display: block;
        height: 90%;
        width: 100%;
        margin-left: -3px;
        margin-right: -3px;
        position: absolute;
        background: #ffd500;
        transform: rotate(4deg);
        top: -1px;
        left: -1px;
        border-radius: 20% 25% 20% 24%;
        padding: 10px 3px 3px 10px;
    }
}

@media only screen and (max-width: 1080px) {
    .skill-board {
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }

    .skill-note {
        margin-top: 70px;
    }
  }