<div id="skills" class="page-container content-center skills">
    <div class="skill-container">
        <h1 class="headers">Skill Board</h1>
        <div class="skill-board">
            <div class="skill-note">
                <h1 class="skill-header">Front-End</h1>
                <ul>
                    <li class="highlight-container"><span class="highlight">Angular</span></li>
                    <li></li>
                    <li class="highlight-container"><span class="highlight">Wordpress</span></li>
                    <li></li>
                    <li class="highlight-container"><span class="highlight">HTML</span></li>
                    <li>Joomla</li>
                    <li class="highlight-container"><span class="highlight">CSS</span></li>
                    <li>Material UI</li>
                    <li class="highlight-container"><span class="highlight">Bootstrap</span></li>
                    <li></li>
                    <li class="highlight-container"><span class="highlight">Javascript</span></li>
                    <li></li>
                    <li class="highlight-container"><span class="highlight">Typescript</span></li>
                    <li></li>
                    <li class="highlight-container"><span class="highlight">SASS</span></li>
                    <li></li>
                    <li class="highlight-container"><span class="highlight">jQuery</span></li>
                    <li></li>
                    <li class="highlight-container"><span class="highlight">Media Query</span></li>
                </ul>
            </div>
            <div class="skill-note">
                <h1 class="skill-header">Back-End</h1>
                <ul>
                    <li class="highlight-container"><span class="highlight">SpringBoot</span></li>
                    <li>Mongo DB</li>
                    <li class="highlight-container"><span class="highlight">Java</span></li>
                    <li>Laravel</li>
                    <li class="highlight-container"><span class="highlight">Microservices</span></li>
                    <li>PHP</li>
                    <li class="highlight-container"><span class="highlight">MySQL</span></li>
                </ul>
            </div>
            <div class="skill-note">
                <h1 class="skill-header">Other Skills</h1>
                <ul>
                    <li class="highlight-container"><span class="highlight">New Relic</span></li>
                    <li>Kibana</li>
                    <li class="highlight-container"><span class="highlight">Devo</span></li>
                    <li>Concourse</li>
                    <li class="highlight-container"><span class="highlight">Git</span></li>
                    <li></li>
                    <li class="highlight-container"><span class="highlight">Jenkins</span></li>
                    <li>Kaizen</li>
                    <li class="highlight-container"><span class="highlight">Agile Methodologies</span></li>
                    <li>Clean Architecture</li>
                    <li class="highlight-container"><span class="highlight">Responsive Web Designing</span></li>
                    <li></li>
                    <li class="highlight-container"><span class="highlight">PSD / AI to HTML</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>