<div id="home" class="page-container home">
    <div class="name">
        <div class="name-wrap">
            <p class="name1">Adrian</p>
            <p class="name2">Sicat</p>
        </div>
    </div>
    <div class="description">
        <div class="desc-text">Software Engineer</div>
    </div>
    <div class="bottom-strip">
        <div class="vertical short"></div>
        <div class="vertical long"></div>
        <div class="horizontal short"></div>
        <div class="horizontal long"></div>
    </div>
    <div class="top-strip">
        <div class="vertical short"></div>
        <div class="vertical long"></div>
        <div class="horizontal short"></div>
        <div class="horizontal long"></div>
    </div>
    <div class="arrow-down" (click)="goTo('about')"></div>
</div>