.home {
    background-image: url("../../../assets/home_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    align-items: center;
    border: 2px solid #fbfbfb;
    border-radius: 0 0 10px 10px;
    background: rgb(255 255 255 / 30%);
    bottom: 0;
    display: flex;
    height: 300px;
    justify-content: center;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
}

p.name1 {
    color: #ffffff;
    font-family: acherus;
    font-size: 70px;
    line-height: inherit;
    margin: 0 0 30px;
}

p.name2 {
    color: #ffffff;
    font-family: acherusUltraLight;
    font-size: 60px;
    margin: 0 !important;
}

.description {
    background: rgba(255 255 255 / 30%);
    border: 2px solid #fbfbfb;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    bottom: 85px;
    height: 299px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 600px;
}

.desc-text {
    color: #ffffff;
    font-family: 'acherus';
    font-size: 30px;
    line-height: normal;
    text-align: center;
}

.bottom-strip {
    .vertical.short {
        background: #db191d;
        bottom: 88px;
        position: absolute;
        height: 30%;
        left: 62px;
        width: 7px;
    }
    
    .vertical.long {
        background: #db191d;
        bottom: 60px;
        position: absolute;
        height: 50%;
        left: 50px;
        width: 7px;
    }
    
    .horizontal.short {
        background: #db191d;
        bottom: 100px;
        height: 7px;
        position: absolute;
        left: 10px;
        width: 15%;
    }
    .horizontal.long {
        background: #db191d;
        bottom: 88px;
        height: 7px;
        left: 30px;
        position: absolute;
        width: 30%;
    }
}

.top-strip {
    .vertical.short {
        background: #373737;
        top: 38px;
        position: absolute;
        height: 30%;
        right: 62px;
        width: 7px;
    }
    
    .vertical.long {
        background: #373737;
        top: 10px;
        position: absolute;
        height: 50%;
        right: 50px;
        width: 7px;
    }
    
    .horizontal.short {
        background: #373737;
        top: 50px;
        height: 7px;
        position: absolute;
        right: 10px;
        width: 15%;
    }
    .horizontal.long {
        background: #373737;
        top: 38px;
        height: 7px;
        right: 30px;
        position: absolute;
        width: 30%;
    }
} 

.arrow-down {
    animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
    background: url("../../../assets/down-arrow.png");
    bottom: 100px;
    cursor: pointer;
    height: 25px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 25px;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@media only screen and (max-width: 1080px) {
    .name {
        bottom: 400px !important;
        top: auto !important;
        border-radius: unset !important;
    }

    .description {
        bottom: 170px;
        top: auto !important;
        width: 90%;
    }

    .top-strip,
    .bottom-strip {
        display: none;
    }

    .arrow-down {
        bottom: 100px;
    }
}