<app-navigation></app-navigation>
<app-home></app-home>
<app-about></app-about>
<div class="divider"></div>
<app-skills></app-skills>
<div class="divider"></div>
<app-projects></app-projects>
<div class="divider"></div>
<app-contact></app-contact>