.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; 
}

.grid-container {
    max-width: 80vw;
    margin: 0 auto;
}

.gallery__item {
    cursor: pointer;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    border: 3px solid #ffffff;
    border-radius: 10px;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;

    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;

    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
}

.gallery__item--7 {
    grid-column: 1 / span 2; 
    grid-row: 1 / span 2;
}

.gallery__item--8 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

.gallery__item--9 {
    grid-column: 5 / span 4;
    grid-row: 1 / span 5;
}

.gallery__item--10 {
    grid-column: 1 / span 4;
    grid-row: 3 / span 3;
}

.gallery__item--11 {
    grid-column: 1 / span 4;
    grid-row: 6 / span 3;
}

.gallery__item--12 {
    grid-column: 5 / span 4;
    grid-row: 6 / span 3;
}

.gallery__item.show {
    bottom: 0;
    height: calc(90% - 60px);
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 70px;
    width: 90%;
    img {
        border: none;
        border-radius: unset;
        height: 100%;
        object-fit: contain;
        width: 100%;
    }
    &::after {
        background: rgba(255 255 255 / 50%);
        content: "";
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}

@media only screen and (max-width: 1080px) {
    .gallery__item { 
        margin: 5px;
    }
}