<div id="projects" class="page-container">
    <div class="grid-container">
        <div class="gallery">
            <figure #element1 class="gallery__item gallery__item--1" (click)="viewImage(element1.classList[1])" [ngClass]="{'show' : isView && elementClass == 'gallery__item--1'}">
                <img src="../../../assets/projects/adaptive1.jpg" alt="Gallery image 1" class="gallery__img">
            </figure>
            <figure #element2 class="gallery__item gallery__item--2" (click)="viewImage(element2.classList[1])" [ngClass]="{'show' : isView && elementClass == 'gallery__item--2'}">
                <img src="../../../assets/projects/dig.jpg" alt="Gallery image 2" class="gallery__img">
            </figure>
            <figure #element3 class="gallery__item gallery__item--3" (click)="viewImage(element3.classList[1])" [ngClass]="{'show' : isView && elementClass == 'gallery__item--3'}">
                <img src="../../../assets/projects/digitalAssassins4.jpg" alt="Gallery image 3" class="gallery__img">
            </figure>
            <figure #element4 class="gallery__item gallery__item--4" (click)="viewImage(element4.classList[1])" [ngClass]="{'show' : isView && elementClass == 'gallery__item--4'}">
                <img src="../../../assets/projects/ezibills.png" alt="Gallery image 4" class="gallery__img">
            </figure>
            <figure #element5 class="gallery__item gallery__item--5" (click)="viewImage(element5.classList[1])" [ngClass]="{'show' : isView && elementClass == 'gallery__item--5'}">
                <img src="../../../assets/projects/fonebayad1.jpg" alt="Gallery image 5" class="gallery__img">
            </figure>
            <figure #element6 class="gallery__item gallery__item--6" (click)="viewImage(element6.classList[1])" [ngClass]="{'show' : isView && elementClass == 'gallery__item--6'}">
                <img src="../../../assets/projects/hawki1.jpg" alt="Gallery image 6" class="gallery__img">
            </figure>
        </div>
        <div class="gallery">
            <figure #element7 class="gallery__item gallery__item--7" (click)="viewImage(element7.classList[1])" [ngClass]="{'show' : isView && elementClass == 'gallery__item--7'}">
                <img src="../../../assets/projects/johnMaher1.jpg" alt="Gallery image 1" class="gallery__img">
            </figure>
            <figure #element8 class="gallery__item gallery__item--8" (click)="viewImage(element8.classList[1])" [ngClass]="{'show' : isView && elementClass == 'gallery__item--8'}">
                <img src="../../../assets/projects/ofw1.jpg" alt="Gallery image 2" class="gallery__img">
            </figure>
            <figure #element9 class="gallery__item gallery__item--9" (click)="viewImage(element9.classList[1])" [ngClass]="{'show' : isView && elementClass == 'gallery__item--9'}">
                <img src="../../../assets/projects/republisys1.png" alt="Gallery image 3" class="gallery__img">
            </figure>
            <figure #element10 class="gallery__item gallery__item--10" (click)="viewImage(element10.classList[1])" [ngClass]="{'show' : isView && elementClass == 'gallery__item--10'}">
                <img src="../../../assets/projects/republisys6.png" alt="Gallery image 4" class="gallery__img">
            </figure>
            <figure #element11 class="gallery__item gallery__item--11" (click)="viewImage(element11.classList[1])" [ngClass]="{'show' : isView && elementClass == 'gallery__item--11'}">
                <img src="../../../assets/projects/seamless1.png" alt="Gallery image 5" class="gallery__img">
            </figure>
            <figure #element12 class="gallery__item gallery__item--12" (click)="viewImage(element12.classList[1])" [ngClass]="{'show' : isView && elementClass == 'gallery__item--12'}">
                <img src="../../../assets/projects/seamless7.png" alt="Gallery image 6" class="gallery__img">
            </figure>
        </div>
    </div>
</div>