
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$adrianwebdev-primary: mat.define-palette(mat.$indigo-palette);
$adrianwebdev-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$adrianwebdev-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$adrianwebdev-theme: mat.define-light-theme((
  color: (
    primary: $adrianwebdev-primary,
    accent: $adrianwebdev-accent,
    warn: $adrianwebdev-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($adrianwebdev-theme);

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'marker';
  src: url('./assets/fonts/marker/marker.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/marker/marker.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/marker/marker.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/marker/marker.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/marker/marker.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/marker/marker.svg#marker') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'acherus';
  src: url('./assets/fonts/acherus/AcherusGrotesque-Regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/acherus/AcherusGrotesque-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/acherus/AcherusGrotesque-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/acherus/AcherusGrotesque-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/acherus/AcherusGrotesque-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/acherus/AcherusGrotesque-Regular.svg#marker') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'acherusUltraLight';
  src: url('./assets/fonts/acherus/AcherusGrotesque-UltraLight.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/acherus/AcherusGrotesque-UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/acherus/AcherusGrotesque-UltraLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/acherus/AcherusGrotesque-UltraLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/acherus/AcherusGrotesque-UltraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/acherus/AcherusGrotesque-UltraLight.svg#marker') format('svg'); /* Legacy iOS */
}

html, body { height: 100%; }
body {
  background-image: url("assets/body_bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-container {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 100px 0;
  position: relative;
  &.content-center {
    align-items: flex-start;
    display: flex;
    justify-content: center;
  }
}

.bold {
  font-weight: bold;
}

p {
  &.content-header {
    border-top: 1px solid #c0c0c0;
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
  }
}

.divider {
  background: #404040;
  height: 200px;
}